mol_button {
	cursor: pointer !important;
}

[ bun_tasks_calendar_bubble ] {
	position: relative;
	top: 0;
	left: 0;
	max-height: 360px !important;
	box-shadow: none;
	border: 1px solid #000000;
}

[ bun_tasks_bar_row ] {
	width: 100%;
	display: flex;
}

[ bun_tasks_bar ] {
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
	background-color: #f5f8fc;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #000000;
}

[ done ] {
	text-decoration: line-through;
}

[ bun_tasks_bar_task ] {
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin: 9px 0;
	background-color: var( --mol_theme_card );
	border-radius: 8px;
	border: 1px solid #000000;
}

[ bun_tasks_bar_task ]:first-child {
	margin-top: 0;
}

[ bun_tasks_task_item ] {
	padding: 0;
}

[ bun_tasks_bar_task_content_row ] {
	padding: 0;
}

[ bun_tasks_task_item_tools ] {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 15px;
}

[ bun_tasks_task_item_content ] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

[ bun_tasks_task_item_text_content ] {
	justify-content: center;
}

[ bun_tasks_task_item_title ] {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
}

[ bun_tasks_task_item_details ] {
	font-size: 19px;
	color: #6d6d6d;
	margin-top: 2.4px;
}
